* {
	margin: 0;
	padding: 0;
	font-family: garamond;
}

.wrapper {
	/*top: 0;*/
	width:100%;
	margin:auto;
	min-width:600px;
	max-width:2000px;
	height: 1945px; 
	margin: 0;
}

.navbar {
	background-color: #85007A;
	height: 55px;
	padding-top: 20px;
}

.navbar p {
	display: inline;
	color: #D2D0D1;
	padding-left: 5%;
	font-size: 23px;
	font-weight: 800;
}

.navbar a:link {
	text-decoration: none;
	color: #D2D0D1;
}

.navbar a:visited {
	text-decoration: none;
	color: #D2D0D1;
}

.navbar a:hover {
	box-shadow: inset 0px 0px 8px black;
	padding: 13px;
	color: #D2D0D1;
	border-radius: 30px;
	background-color: #950C95;
}


.chunkone {
	background-color: #D2D0D1;
	/*width: 1440px;*/
	height: 632px;
	margin: 0;
}


.elevator-pitch-copy {
	width: 38%;
	color: #06266F;
	float: left;
	margin: 50px 0px 0px 70px;
	font-family: garamond;
}


.Snapshot-title {
	margin-bottom: 50px;
}


.Byline {
	padding: 50px 0px 0px 0px;
}

.Byline a:link {
	text-decoration: none;
}


.Byline a:visited {
	text-decoration: none;
}


.elevator-pitch-copy span {
	color: #1240AB;
	font-size:16px;
}


/*#India-cover-cropped {
	width: 35%;
	float: right;
	border:1px solid #;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30;
	margin-top: 40px;
	margin-right: 180px;
}
*/

.buy-now-button {
	width: 200px;
	height: 40px;
    background-color: #FFAA00;
    border: 2px solid ##FFAA00;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30;
	box-shadow: 0px 0px 8px black;
	text-align: center;
	margin-top: 20px;
}


.buy-now-button h2 {
	padding-top: 5px;
	text-align: center;
	color: #06266F;

}

.buy-now-button a:active {
	text-decoration: none;
}

.buy-now-button a:visited {
	text-decoration: none;
}

.buy-now-button a:link {
	text-decoration: none;
	color: #06266F;
}

#price-copy{
	color: #06266F;
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 18px;
}

#pdf {
	font-size: 14px;
	padding-bottom: 50px;
}


#testamonial {
	font-size: 19px;
	color: #85007A;
	
}

#India-cover-cropped {
	width: 35%;
	float: right;
	border:1px solid #;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30;
	margin-top: 40px;
	margin-right: 180px;
}



.chunktwo {
	background-color: #06266F;
	height: 632px;
}


.top-five {
	width: 49%;
	color: #D2D0D1;
	padding-left: 420px;
	padding-top: 75px;
}

.top-five h2 {
	padding-top: 30px;
	padding-bottom: 30px;
}


.top-five ul {
	padding-left: 15px;
	font-size: 20px;
	line-height: 40px;
}

.chunkthree {
	background-color: #D2D0D1;
	height: 632px;
	margin: auto;
}

#tina-bio {
	width: 300px;
	margin: 50px 30px 0px 105px;
	float:left;
	color: #06266F;
	
}

#tina-bio-photo {
	width: 300px;
	border-radius: 30px;
	padding-bottom: 20px;
}

#bio-text {
	width: 300px;
	font-size: 20px;
}

#bike-story {
	width: 350px;
	margin: 50px 30px 0px 30px;
	float:left;
	color: #06266F;
}

#bike-photo {
	width: 350px;
	border-radius: 30px;
	padding-bottom: 20px;	
}

#bike-text {
	width: 350px;
	font-size: 20px;
}

#map-story {
	width: 300px;
	margin: 50px 30px 0px 30px;
	float:left;
	color: #06266F;
}

#map-embed {
	width: 300px;
	border-radius: 30px;
	/*How do I round the google map?*/
}

#map-text {
	width: 350px;
	font-size: 20px;
	padding-top: 20px;
}

/*Can I make chunk three spacing more even?
/*What I did I do wrong with the a:hover, a:link stuff? Used important! as a stop-gap
font awesome icons*/
